<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="Graph Editor - Segmentation"
            extensions="salt"
            class="org.corpus_tools.atomic.grapheditor.ui.parts.SegmentationView"
            id="org.corpus_tools.atomic.grapheditor.ui.segmentationeditor">
      </editor>
      <editor
            class="org.corpus_tools.atomic.grapheditor.ui.parts.GraphEditor"
            default="false"
            id="org.corpus_tools.atomic.grapheditor.ui.grapheditor"
            name="Graph Editor">
      </editor>
   </extension>

</plugin>
