<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.corpus_tools.atomic.grapheditor.GraphEditor"
            default="false"
            extensions="salt"
            id="org.corpus_tools.atomic.grapheditor.GraphEditor"
            name="Graph Editor">
      </editor>
   </extension>

</plugin>
